@model IEnumerable<MACK.Models.Model>

@{
    ViewData["Title"] = "Vehicle Models";
}


<div class="vehicles-grid">
    <!-- Heading -->
    <div class="vehicle-data-title flex">
        <h2>Models</h2>
        <!-- Create -->
        <a asp-action="Create" class="btn editBtn">
            <i class="fas fa-plus"></i>
        </a>
    </div>
</div>

<!-- Display Models -->
<div class="vehicle-form">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ModelName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Manufacturer)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ModelName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Manufacturer.ManufacturerName)
                </td>
                <td class="table-delete">
                    <a asp-action="Delete" asp-route-id="@item.ModelId">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>