@model IEnumerable<MACK.Models.VehicleListing>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VIN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Odometer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MSRP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InventoryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Certified)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Features)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhotoUrlList)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhotosLastModifiedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeletedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Condition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dealership)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicle)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VIN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StockNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Odometer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MSRP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InventoryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Certified)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Features)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhotoUrlList)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhotosLastModifiedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeletedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Condition.ConditionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dealership.DealershipName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vehicle.Engine)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ListingId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ListingId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ListingId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
