@model MACK.Models.Vehicle

@{
    ViewData["Title"] = "Delete";
}
<div class="vehicle-data-title flex">
    <h2>Are you sure you want to delete this?</h2>
    <a asp-action="Index" class="btn editBtn"><i class="fa-solid fa-chevron-left"></i></a>
</div>
<div>
    <!-- Vehicle Card -->
    <div class="vehicle-card">
        <div class="card-header">
            <!-- Vehicle Image-->
            <img src="~/images/Vehicle.png" />
            <div class="row vehicle-form">
                <div class="col-md-4">
                    <ul>
                        <li>
                            <span>@Html.DisplayNameFor(model => model.VIN)</span>
                            @Html.DisplayFor(modelItem => Model.VIN)
                        </li>
                        <li>
                            <span>@Html.DisplayNameFor(model => model.Year)</span>
                            @Html.DisplayFor(modelItem => Model.Year)
                        </li>
                        <li>
                            <span>@Html.DisplayNameFor(model => model.Fuel)</span>
                            @Html.DisplayFor(modelItem => Model.Fuel)
                        </li>
                        <li>
                            <span>@Html.DisplayNameFor(model => model.ExteriorColour)</span>
                            @Html.DisplayFor(modelItem => Model.ExteriorColour)
                        </li>
                        <li>
                            <span>@Html.DisplayNameFor(model => model.InteriorColour)</span>
                            @Html.DisplayFor(modelItem => Model.InteriorColour)
                        </li>
                        <li>
                            <span>@Html.DisplayNameFor(model => model.BodyDoorCount)</span>
                            @Html.DisplayFor(modelItem => Model.BodyDoorCount)
                        </li>
                        <li>
                            <span>@Html.DisplayNameFor(model => model.Features)</span>
                            @Html.DisplayFor(modelItem => Model.Features)
                        </li>
                        <li>
                            <span>@Html.DisplayNameFor(model => model.Description)</span>
                            @Html.DisplayFor(modelItem => Model.Description)
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul>
                        <li>
                            <span>@Html.DisplayNameFor(model => model.Model.ModelName)</span>
                            @Html.DisplayFor(modelItem => Model.Model.ModelName)
                        </li>
                        <li>
                            <span>@Html.DisplayNameFor(model => model.Price)</span>
                            @Html.DisplayFor(modelItem => Model.Price)
                        </li>
                        <li>
                            <span>@Html.DisplayNameFor(model => model.StockNumber)</span>
                            @Html.DisplayFor(modelItem => Model.StockNumber)
                        </li>
                        <li>
                            <span>@Html.DisplayNameFor(model => model.IsUsed)</span>
                            @Html.DisplayFor(modelItem => Model.IsUsed)
                        </li>
                        <li>
                            <span>@Html.DisplayNameFor(model => model.IsAutomatic)</span>
                            @Html.DisplayFor(modelItem => Model.IsAutomatic)
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <!-- Button column -->
        <div class="col-md-12 text-center">
            <div class="form-group">
                <form asp-action="Delete">
                    <input type="hidden" asp-for="VehicleId" />
                    <input type="submit" value="Delete" class="btn btn-primary" />
                </form>
            </div>
        </div>
    </div>
</div>
