@model MACK.Models.Vehicle

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Vehicle</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VIN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VIN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Series)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Series.SeriesName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehicleType.TypeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EngineCylinderCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EngineCylinderCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EngineDisplacement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EngineDisplacement)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Engine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Engine)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fuel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fuel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Transmission)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Transmission.TransmissionType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BodyDoorCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BodyDoorCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Drivetrain)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Drivetrain.DrivetrainType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExteriorColour)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExteriorColour.ColourName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InteriorColour)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InteriorColour.ColourName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CityMPG)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CityMPG)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HighwayMPG)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HighwayMPG)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Length)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Length)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Width)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Width)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Height)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Height)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.VehicleId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
