@model MACK.Models.Vehicle

@{
    ViewData["Title"] = "Details";
}
<div class="vehicle-data-title flex">
    <h2>@Html.DisplayFor(modelItem => Model.Model.ModelName)</h2>
    <a asp-action="Index" class="btn editBtn"><i class="fa-solid fa-chevron-left"></i></a>
</div>
<hr />
<!-- Vehicle Card -->
<div class="vehicle-card details">
    <div class="card-header">
        <!-- Vehicle Image-->
        <img src="~/images/Vehicle.png"/>
        <div class="row vehicle-form">
            <div class="col-md-4 details-column">
                <ul>
                    <li>
                        <span>@Html.DisplayNameFor(model => model.VIN)</span>
                        @Html.DisplayFor(modelItem => Model.VIN)
                    </li>
                    <li>
                        <span>@Html.DisplayNameFor(model => model.Year)</span>
                        @Html.DisplayFor(modelItem => Model.Year)
                    </li>
                    <li>
                        <span>@Html.DisplayNameFor(model => model.Fuel)</span>
                        @Html.DisplayFor(modelItem => Model.Fuel)
                    </li>
                    <li>
                        <span>@Html.DisplayNameFor(model => model.ExteriorColour)</span>
                        @Html.DisplayFor(modelItem => Model.ExteriorColour)
                    </li>
                    <li>
                        <span>@Html.DisplayNameFor(model => model.InteriorColour)</span>
                        @Html.DisplayFor(modelItem => Model.InteriorColour)
                    </li>
                    <li>
                        <span>@Html.DisplayNameFor(model => model.BodyDoorCount)</span>
                        @Html.DisplayFor(modelItem => Model.BodyDoorCount)
                    </li>
                    <li>
                        <span>@Html.DisplayNameFor(model => model.Features)</span>
                        <ul>
                            @{
                                foreach(string feature in Model.Features.Split('|'))
                                {
                                    <li>- @feature</li>
                                }
                            }
                        </ul>
                    </li>
                </ul>
                <ul>
                    <li>
                        <span>@Html.DisplayNameFor(model => model.IsUsed)</span>
                        @Html.DisplayFor(modelItem => Model.IsUsed)
                    </li>
                    <li>
                        <span>@Html.DisplayNameFor(model => model.Price)</span>
                        @Html.DisplayFor(modelItem => Model.Price)
                    </li>
                    <li>
                        <span>@Html.DisplayNameFor(model => model.StockNumber)</span>
                        @Html.DisplayFor(modelItem => Model.StockNumber)
                    </li>
                    <li>
                        <span>@Html.DisplayNameFor(model => model.IsAutomatic)</span>
                        @Html.DisplayFor(modelItem => Model.IsAutomatic)
                    </li>
                    <li>
                        <span>@Html.DisplayNameFor(model => model.Model.ModelName)</span>
                        @Html.DisplayFor(modelItem => Model.Model.ModelName)
                    </li>

                </ul>
            </div>
        </div>
        <div class="col-md-12 text-center">
        <div class="card-buttons flex">
                <a asp-action="Edit" asp-route-id="@Model.VehicleId" class="btn editBtn"><i class="fas fa-pencil-alt"></i></a>
                <a asp-action="Delete" asp-route-id="@Model.VehicleId" class="btn deleteBtn"><i class="fas fa-trash-alt"></i></a>
        </div>
        </div>
    </div><div class="col-md-12 text-center">
    <a asp-action="Index">Back to List</a>
    </div>
</div>
<hr />
