@using MACK.Handlers;
@model IEnumerable<MACK.Models.Vehicle>
@{
    ViewData["Title"] = "Vehicle Data";
}

<div class="vehicles-grid">
    <!-- Heading -->
    <div class="vehicle-data-title flex">
        <h2>Vehicles</h2>
        <!-- Create -->
        <a asp-action="Create" class="btn editBtn">
                <i class="fas fa-plus"></i>
        </a>
        <!-- Upload -->
        <a asp-action="#" class="btn">
            <i class="fa-solid fa-arrow-up"></i>
        </a>
    </div>
    <!-- Start of Vehicle CARDS -->
    <div class="grid-4">
        @*FOR EACH LOOP WILL POPULATE THE CARDS DEPENDING ON VECHICLE DB*@
        @{
            foreach (var item in Model)
            {
                <div class="vehicle-card">
                    <a asp-action="Details" asp-route-id="@item.VehicleId">
                        <!-- Vehicle Title and Buttons -->
                        <div class="card-header flex">
                            <h3>@Html.DisplayFor(modelItem => item.Model.ModelName)</h3>
                            <div class="card-buttons flex">
                                <div class="card-buttons flex">
                                    <a asp-action="Edit" asp-route-id="@item.VehicleId" class="btn editBtn"><i class="fas fa-pencil-alt"></i></a>
                                    <a asp-action="Delete" asp-route-id="@item.VehicleId" class="btn deleteBtn"><i class="fas fa-trash-alt"></i></a>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a asp-action="Details" asp-route-id="@item.VehicleId">
                        <!-- Vehicle Image -->
                        <img src="images/Vehicle.png" />
                        <!-- Vehicle Details -->
                        <ul>
                            <li>
                                <span>@Html.DisplayNameFor(model => model.Price):</span>
                                @Html.DisplayFor(modelItem => item.Price)
                            </li>
                            <li>
                                <span>@Html.DisplayNameFor(model => model.StockNumber):</span>
                                @Html.DisplayFor(modelItem => item.StockNumber)
                            </li>
                            <li>
                                <span>@Html.DisplayNameFor(model => model.VIN):</span>
                                @Html.DisplayFor(modelItem => item.VIN)
                            </li>
                            <li>
                                <span>@Html.DisplayNameFor(model => model.Year):</span>
                                @Html.DisplayFor(modelItem => item.Year)
                            </li>
                            <li>
                                <span>@Html.DisplayNameFor(model => model.Model.Manufacturer):</span>
                                @Html.DisplayFor(modelItem => ManufacturerHandlers.GetManufacturerById(ModelHandlers.GetModelById(item.ModelId).ManufacturerId).ManufacturerName)
                            </li>
                        </ul>
                    </a>
                </div>
            }
        }
    </div>
</div>
