@model IEnumerable<MACK.Models.Vehicle>
@{
    ViewData["Title"] = "Vehicle Data";
}

<div class="vehicles-grid">
    <!-- Heading -->
    <div class="vehicle-data-title flex">
        <h2>Vehicles</h2>
        <button class="btn" id="createBtn" onclick="openCreateDialog(event)">
            <i class="fas fa-plus"></i>
        </button>
    </div>
    <!-- Vehicle Create Modal -->
    <div id="dialog-create" class="dialog" style="display: none;">
        <form>
            <div class="vehicle-create-card">
                <h3>Create Vehicle</h3>
                <img src="/images/Vehicle.png" />
                <ul>
                    <li>
                        <label for="vin">VIN:</label>
                        <input type="text" id="vin" name="vin" required>
                    </li>
                    <li>
                        <label for="year">Year:</label>
                        <input type="text" id="year" name="year" required>
                    </li>
                    <li>
                        <label for="model">Model:</label>
                        <input type="text" id="model" name="model" required>
                    </li>
                    <li>
                        <label for="transmission">Transmission:</label>
                        <input type="text" id="transmission" name="transmission" required>
                    </li>
                    <li>
                        <label for="kilometres">Kilometres:</label>
                        <input type="text" id="kilometres" name="kilometres" required>
                    </li>
                </ul>
            </div>
            <button class="btn" id="submitBtn">Submit</button>
        </form>
        <button class="dialog-close" onclick="closeDialog()">X</button>
    </div>


    <!-- Start of CARD/DIALOG -->
    <div class="grid-4">
        @*TODO: CREATE A FOR EACH LOOP THAT WILL POPULATE THE CARDS DEPENDING ON VECHICLE DB*@
        @{
            foreach (var item in Model)
            {
                <a href="#" class="card-link" onclick="openDialog(event)">
                    <div class="vehicle-card">
                        <div class="card-header flex">
                            <h3>@Html.DisplayFor(modelItem => item.Model.ModelName)</h3>
                            <div class="card-buttons flex">
                                <button class="btn" id="editBtn"><i class="fas fa-pencil-alt"></i></button>
                                <button class="btn" id="deleteBtn"><i class="fas fa-trash-alt"></i></button>
                            </div>
                        </div>
                        <img src="images/Vehicle.png" />
                        <ul>
                            <li><span>@Html.DisplayNameFor(model => model.VIN): </span> @Html.DisplayFor(modelItem => item.VIN) </li>
                            <li><span>@Html.DisplayNameFor(model => model.Year): </span> @Html.DisplayFor(modelItem => item.Year) </li>
                            <li><span>@Html.DisplayNameFor(model => model.ModelId): </span> @Html.DisplayFor(modelItem => item.Model) </li>
                            <li><span>@Html.DisplayNameFor(model => model.Weight): </span> @Html.DisplayFor(modelItem => item.Weight) </li>
                        </ul>
                    </div>
                </a>
            }
        }
    </div>

    @*  <!-- HTML SINGLE VEHICLE CARD --> Need to put into FOR EACH LOOP Above. This is just for reference -->
    <div class="grid-4">
    <a href="#" class="card-link" onclick="openDialog(event)">
    <div class="vehicle-card">
    <div class="card-header flex">
    <h3>Tahoe</h3>
    <div class="card-buttons flex">
    <button class="btn" id="editBtn"><i class="fas fa-pencil-alt"></i></button>
    <button class="btn" id="deleteBtn"><i class="fas fa-trash-alt"></i></button>
    </div>
    </div>
    <img src="images/Vehicle.png" />
    <ul>
    <li><span>VIN: </span> 1234567890ABCDEFG </li>
    <li><span>Year : </span> 2023 </li>
    <li><span>Model: </span> TAHOE </li>
    <li><span>Transmission: </span> AUTOMATIC </li>
    <li><span>Kilometers: </span> 2400 </li>
    </ul>
    </div>
    </a>
    </div>*@
</div>


@*DEFAULT FROM MVC  -- This will eventually be gone *@
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table text-light">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VIN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fuel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExteriorColour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InteriorColour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BodyDoorCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Features)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dimensions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsUsed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAutomatic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VIN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fuel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExteriorColour)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InteriorColour)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BodyDoorCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Weight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Features)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dimensions)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsUsed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsAutomatic)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model.ModelName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.VehicleId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.VehicleId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.VehicleId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
