@model IEnumerable<MACK.Models.Vehicle>
@{
    ViewData["Title"] = "Vehicle Data";
}

<div class="vehicles-grid">
    <!-- Heading -->
    <div class="vehicle-data-title flex">
        <h2>Vehicles</h2>
        <a asp-action="Create">
            <button class="btn" id="createBtn" onclick="openCreateDialog(event)">
                <i class="fas fa-plus"></i>
            </button>
        </a>
    </div>
    <!-- Start of Vehicle CARDS -->
    <div class="grid-4">
        @*FOR EACH LOOP WILL POPULATE THE CARDS DEPENDING ON VECHICLE DB*@
        @{
            foreach (var item in Model)
            {
                <div class="vehicle-card card-link">
                    <a asp-action="Details" asp-route-id="@item.VehicleId">
                        <!-- Vehicle Title and Buttons -->
                        <div class="card-header flex">
                            <h3>@Html.DisplayFor(modelItem => item.Model.ModelName)</h3>
                            <div class="card-buttons flex">
                                <a asp-action="Edit" asp-route-id="@item.VehicleId"><button class="btn" id="editBtn"><i class="fas fa-pencil-alt"></i></button></a>
                                <a asp-action="Delete" asp-route-id="@item.VehicleId"><button class="btn" id="deleteBtn"><i class="fas fa-trash-alt"></i></button></a>
                            </div>
                        </div>
                        <!-- Vehicle Image -->
                        <img src="images/Vehicle.png" />
                        <!-- Vehicle Details -->
                        <ul>
                            <li>
                                <span>@Html.DisplayNameFor(model => model.VIN):</span>
                                @Html.DisplayFor(modelItem => item.VIN)
                            </li>
                            <li>
                                <span>@Html.DisplayNameFor(model => model.Year):</span>
                                @Html.DisplayFor(modelItem => item.Year)
                            </li>
                            <li>
                                <span>@Html.DisplayNameFor(model => model.ModelId):</span>
                                @Html.DisplayFor(modelItem => item.Model.ModelName)
                            </li>
                            <li>
                                <span>@Html.DisplayNameFor(model => model.Weight):</span>
                                @Html.DisplayFor(modelItem => item.Weight)
                            </li>
                        </ul>
                    </a>
                </div>
            }
        }
    </div>
</div>

@*DEFAULT FROM MVC  -- This will eventually be gone *@
@*<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table text-light">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VIN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fuel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExteriorColour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InteriorColour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BodyDoorCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Features)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsUsed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAutomatic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
<<<<<<< HEAD
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VIN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fuel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExteriorColour)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InteriorColour)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BodyDoorCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Weight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Features)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dimensions)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsUsed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsAutomatic)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model.ModelName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.VehicleId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.VehicleId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.VehicleId">Delete</a>
                </td>
            </tr>
        }
=======
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VIN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fuel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExteriorColour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InteriorColour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BodyDoorCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Features)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsUsed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAutomatic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model.ModelName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VehicleId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.VehicleId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.VehicleId">Delete</a>
            </td>
        </tr>
}
>>>>>>> 66a9a29e17298249e670e4988bb6e746db5ce59d
    </tbody>
</table>*@
