@model IEnumerable<MACK.Models.Dealership>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DealershipName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddressId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Corporation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DealershipName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddressId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Corporation.CorporationName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DealershipId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DealershipId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DealershipId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
